#user(data-id=user._id.toString())=user.userName
#display
  #wood wood: #{user.wood}
  #cash cash: #{user.cash}
#options
  button#plant Plant Seed
  button#getForest Forest
#tradingPost
  input#woodAmount(type='text', autofocus=true, placeholder='Trade Wood')
  button#trade Trade
